.nav {
  grid-column: 3 / 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  .logo {
    width: 10rem;

    img {
      max-width: 100%;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    &-item {
      margin: 0 2rem;

      a {
        color: var(--color-dark-blue);
        transition: all 0.2s ease-in-out;

        &:hover {
          color: var(--color-cyan);
        }
      }
    }
  }
}

.intro {
  grid-column: 3 / 11;
  grid-row: 2 / 3;
  padding: 2rem;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    width: 50%;
    z-index: 20;

    @media only screen and (max-width: 768px) {
      width: 100%;
      order: 2;
      text-align: center;
    }

    p {
      margin: 2rem 0;

      @media only screen and (max-width: 768px) {
        margin: 3rem auto;
        width: 80%;
        text-align: center;
      }
    }

    &-form {
      display: flex;
      align-items: center;

      @media only screen and (max-width: 768px) {
        justify-content: center;
        flex-direction: column;
        width: 100%;
      }

      &--email {
        padding: 1rem;
        padding-right: 10rem;
        margin-right: 2rem;
        border: 1px solid #ccc;
        outline: none;

        @media only screen and (max-width: 768px) {
          width: 75%;
          margin-right: 0;
          margin-bottom: 2rem;
        }

        &:focus {
          border-color: var(--color-cyan);
        }
      }

      &--btn {
        padding: 1rem 4rem;
        background-color: var(--color-bright-blue);
        color: #fff;
        font-weight: 700;
        border-radius: 2px;
        border: 1px solid transparent;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        @media only screen and (max-width: 768px) {
          width: 75%;
        }

        &:hover {
          background-color: hsl(224, 84%, 45%);
        }
      }
    }
  }

  &__img {
    width: 50%;

    @media only screen and (max-width: 768px) {
      width: 75%;
      margin-bottom: 5rem;
    }

    img {
      max-width: 100%;
    }
  }
}

.curvy {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  margin-top: 2rem;

  img {
    width: 100%;
  }
}

.productive {
  grid-row: 4 / 5;
  grid-column: 1 / -1;
  background-color: #f8f8fe;
  margin-top: -1rem;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr repeat(8, minmax(min-content, 15rem)) 1fr 1fr;

  .grid {
    grid-column: 3 / 11;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__content {
    width: 50%;

    @media only screen and (max-width: 768px) {
      width: 100%;
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-text {
      @media only screen and (max-width: 768px) {
        width: 80%;
        margin: 1rem auto;
      }
    }

    h2 {
      @media only screen and (max-width: 768px) {
        text-align: center;
        margin-bottom: 3rem;
      }
    }

  }

  &__img {
    width: 45%;

    @media only screen and (max-width: 768px) {
      width: 70%;
      margin-bottom: 3rem;
    }

    img {
      max-width: 100%;
    }
  }
}

.testimonial-card {
  font-size: 1.4rem;
  background-color: #fff;
  padding: 2.5rem;
  width: 35rem;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px rgb(238, 238, 238);

  &__text {
    line-height: 1.6;
    flex: 2;
  }

  img {
    max-width: 100%;
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      width: 5rem;
      border-radius: 50%;
      margin-right: 1rem;
    }

    &-info {
      h4 {
        font-family: 'Raleway', sans-serif;
        font-size: 2rem;
      }

      p {
        margin: 0;
      }
    }
  }
}

.access {
  grid-row: 5 / 6;
  grid-column: 1 / -1;
  color: var(--color-white);
  background-color: var(--color-gray-blue);
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr repeat(8, minmax(min-content, 15rem)) 1fr 1fr;

  .grid {
    grid-column: 3 / 11;
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__content {
    width: 40%;

    @media only screen and (max-width: 768px) {
      width: 80%;
      text-align: center;
    }
  }

  &__form {
    width: 40%;
    margin-left: auto;

    @media only screen and (max-width: 768px) {
      width: 80%;
      margin: 1rem 0;
    }

    input {
      border: 1px solid transparent;
      border-radius: 2px;
    }

    &-email {
      padding: 1rem 2rem;
      display: block;
      width: 100%;
      margin: 1.5rem 0;

      &:focus {
        border-color: var(--color-cyan);
      }
    }

    &-btn {
      display: block;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      cursor: pointer;
      padding: 1rem 2rem;
      color: #fff;
      background: var(--color-bright-blue);
      border-color: transparent;

      &:hover {
        background-color: hsl(224, 84%, 45%);
      }
    }
  }
}

.footer {
  grid-row: 6 / 7;
  grid-column: 1 / -1;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr repeat(8, minmax(min-content, 15rem)) 1fr 1fr;



  a {
    color: var(--color-white);
  }

  .grid {
    grid-column: 3 / 11;
    padding: 2rem;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      margin: 0 2rem;
    }

  }

  &__logo {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 10rem;

    @media only screen and (max-width: 768px) {
      justify-self: center;
    }


    img {
      max-width: 100%;
      filter: brightness(0) invert(1);
    }
  }

  &__contact {
    grid-row: 2 / 3;
    grid-column: 1 / 4;

    @media only screen and (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-row: 2 / 3;
      grid-column: 1 / 4;
    }

    &-phone,
    &-email {
      margin-bottom: 1rem;

      @media only screen and (max-width: 768px) {
        margin: 1rem 2rem;
      }

      display: flex;
      align-items: center;

      img {
        margin-right: 2rem;
      }
    }

    // &-email {
    // }
  }

  &__nav {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 2rem;

    @media only screen and (max-width: 768px) {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
    }

    ul {
      margin: 0 auto;

      li {
        margin-bottom: 1rem;

        a {
          &:hover {
            text-decoration: underline;
            color: var(--color-cyan);
          }
        }
      }
    }
  }

  &__social-media {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    margin: 0 auto;

    @media only screen and (max-width: 768px) {
      grid-row: 4 / 5;
      grid-column: 1 / -1;
      justify-self: center;
    }

    a {
      text-align: center;
      display: inline-block;
      padding: 0.5rem;
      width: 3.5rem;
      height: auto;
      border: 1px solid #fff;
      border-radius: 50%;
      margin: 0 1rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: translateY(-2px);
        color: var(--color-bright-blue);
        border-color: var(--color-bright-blue);
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    font-size: 1.4rem;
  }

  @media only screen and (max-width: 800px) {
    font-size: 1.3rem;
  }
}